/* Patrocinador actual */

.patrocinadores-actual {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.patrocinadores-actual h3 {
    text-align: center;
    margin: auto;
    font-size: 1.7rem;
}

.patrocinadores-actual a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: auto;
    text-decoration: none;

    padding: 20px;
    width: 500px;
    height: 100px;
    background-color: var(--blue);
}

.patrocinadores-actual a img {
    width: 70px;
}

.patrocinadores-actual__img-sharpalai {
    width: 100px !important;
}

.patrocinadores-actual a h4 {
    color: #000;
}

.patrocinadores-actual a span svg {
    width: 20px;
    height: 20px;
}

.patrocinadores-actual a span {
    height: 35px;
    width: 35px;

    border: 1px solid #000;
    background-color: #fff;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter .2s;
}

.patrocinadores-actual a span:hover {
    filter: invert(1);
}

/* Patrocinador actual -- MEDIA QUERIES */

@media screen and (max-width: 800px) {
    .patrocinadores-actual {
        width: 80%;
        margin-top: 100px;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        align-items: center;
    }

    .patrocinadores-actual a {
        width: 100%;
        height: fit-content;
        padding: 20px;
        margin: auto;

        display: flex;
        flex-direction: column;
        gap: 10px;

        align-items: center;
        justify-content: center;
    }
}

/* Patrocinadores colaborar */

.patrocinadores-colaborar {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 30px;
    padding-top: 240px;
    border: 1px solid #0005;
}

.patrocinadores-colaborar header {
    background-color: #000;
    height: 200px;
    position: absolute;
    padding: 30px;
    width: 100%;
    top: 0;
    left: 0;
}

.patrocinadores-colaborar header h3 {
    color: #fff;
    margin-top: 10px;
    font-size: 2.3rem;
    font-weight: 400;
    font-family: 'Epilogue';
}

.patrocinadores-colaborar header p {
    font-size: 6.5rem;
    font-weight: 500;
    color: #fff1;

    margin-top: 45px;
}

.patrocinadores-colaborar p {
    font-size: 1rem;
    color: #000a;
}

.patrocinadores-colaborar__niveles {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.patrocinadores-colaborar__niveles-item {
    background-color: #E6F5E3;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 100px 0 80px 0;
    height: 300px;
    position: relative;

    flex-grow: 1;
    width: calc(30% - 10px);
    min-width: 200px;
}

.patrocinadores-colaborar__niveles-item--2 {
    background-color: var(--blue);
}

.patrocinadores-colaborar__niveles-item--3 {
    background-color: #FFF0D2;
}

.patrocinadores-colaborar__niveles-item h6 {
    background-color: #92DF83;
    width: calc(95% - 50px); 
    margin: auto;
    height: 60px;
    border-radius: 0 0 20px 20px;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;


    position: absolute;
    top: 0;
    color: #fff;
}

.patrocinadores-colaborar__niveles-item__svg-1 {
    position: absolute;
    width: 50px;
    height: 50px;

    left: -13px;
    top: -13.5px;
    transform: rotate(64deg);
}

.patrocinadores-colaborar__niveles-item__svg-2 {
    position: absolute;

    width: 50px;
    height: 50px;

    right: -13px;
    top: -13.5px;
    transform: rotate(-64deg);
}

.patrocinadores-colaborar__niveles-item p {
    text-align: center;
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
}

.patrocinadores-colaborar__niveles-item--2 h6 {
    background-color: #8DE0F1;
}

.patrocinadores-colaborar__niveles-item--3 h6 {
    background-color: #F6C76A;
}

.patrocinadores-colaborar__content {
    width: 100%;

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    border: 1px solid #0002;
}

.patrocinadores-colaborar__content-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 30px;

    height: 100px;
    flex-grow: 1;
    min-width: 100px;
    background-color: #0000000a;
}

.patrocinadores-colaborar__content-item h6 {
    font-size: 1.1rem;
    font-weight: 500;
}

.patrocinadores-colaborar__content-item img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    background-color: #fff;
    padding: 15px;
}

.patrocinadores-colaborar__content-item--1 {
    border-right: 1px solid #0002;
}

.patrocinadores-colaborar__content-item--3 {
    max-width: 100%;
    border-top: 1px solid #0002;
}

.patrocinadores-colaborar__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: fit-content;
}

.patrocinadores-colaborar__social-item  {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    padding: 0 30px;
    height: 35px;
}

.patrocinadores-colaborar__social-item--1 {
    border-right: 1px solid #0002;
    margin-top: 20px;
}

.patrocinadores-colaborar__social-item--2 {
    margin-top: 20px;
}

.patrocinadores-colaborar__social span {
    min-height: 40px;
    min-width: 40px;
    border-radius: 100px;
    background-color: #0002;
    margin-top: -8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.patrocinadores-colaborar__social svg {
    width: 17px;
    height: 17px;
}

.patrocinadores-colaborar__social-item div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0;
}

.patrocinadores-colaborar__social-item p {
    color: #000a;
    font-size: .9rem;
    font-weight: 500;
}

.patrocinadores-colaborar__social-item div span {
    font-weight: 500;
    width: fit-content;
    background-color: transparent;
    height: fit-content;
}

/* Patrocinadores - MEDIA QUERIES */

@media screen and (max-width: 1024px) {
    .patrocinadores-colaborar__content-item--1 {
        border: none;
        border-bottom: 1px solid #0002;
    }
}

@media screen and (max-width: 800px) {
    .patrocinadores-colaborar header p {
        display: none;
    }

    .patrocinadores-colaborar header {
        height: fit-content;
        padding: 30px;
    }

    .patrocinadores-colaborar header h3 {
        margin-top: 0;
        text-align: center;
    }

    .patrocinadores-colaborar {
        padding-top: 150px;
    }

    .patrocinadores-colaborar__social {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: fit-content;
        width: 100%;
    }

    .patrocinadores-colaborar__social div {
        justify-content: start;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
        justify-self: start;
        width: 100%;
    }

    .patrocinadores-colaborar__social-item--1 {
        border-right: 0;
    }

    .patrocinadores-colaborar__social-item--2 {
        border-top: 2px solid #0002;
        margin-top: 0;
    }
}   

@media screen and (max-width: 388px) {
    .patrocinadores-colaborar {
        margin-bottom: -100px;
    }
}

@media screen and (max-width: 363px) {
    .patrocinadores-colaborar {
        padding-top: 180px;
    }
}

@media screen and (max-width: 421px) {
    .patrocinadores-colaborar__content-item {
        height: 100px;
    }
}