/* Contact Content */

.contacto-content {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto-content h3 {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.contacto-content__equipo {
    width: 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.contacto-content__equipo div, .contacto-content__equipo-lucien {
    min-width: 250px;
    width: calc(25% - 15px);
    height: 430px;
    
    padding-bottom: 10px;
    color: #000;
    border: 1px solid #0003;

    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.contacto-content__equipo-lucien {
    margin: auto;
    height: 480px;
}

.contacto-content__equipo div img, .contacto-content__equipo-lucien img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.contacto-content__equipo div h6, .contacto-content__equipo-lucien h6 {
    font-size: 1rem;
    margin: 0 15px;
    margin-bottom: 5px;
    margin-top: 17px;
    font-weight: 500;
}

.contacto-content__equipo div p, .contacto-content__equipo div a, .contacto-content__equipo-lucien p, .contacto-content__equipo-lucien a {
    font-size: .7rem;
    color: #000a;
    margin: 0 15px;
    text-decoration: none;
}

.contacto-content__equipo-lucien span {
    display: flex;
    align-items: center;
    margin: 0 15px;
    margin-top: 7px;
    width: 87%;
}

.contacto-content__equipo-lucien span svg {
    height: 15px;
    width: 15px;
}

.contacto-content__contacto-info--1 {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #0003;
}

.contacto-content__contacto-info--2 {
    margin-top: 5px;
}

/* GLOBAL CONTACTO */

.global-contacto {
    margin-top: 100px;
}

@media screen and (max-width: 800px) {
    .global-contacto {
        margin-top: 50px;
    }
}