/* Galeria - Header */

.galeria-header {
    width: 100vw;
    height: 250px;
    position: relative;
    overflow: hidden; 
    padding: 0 10%;

    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block; 

    position: absolute;
}

.galeria-header::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(40deg, #000 0%, #0007 50%, #000 100%);
}

.galeria-header h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;

    z-index: 10;
}

/* Galeria - Galeria */

main div {
    width: 80%;
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-flow: dense;
}

main div img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.galeria-horizontal {
    grid-column-end: span 2;
}

/* Galeria - Media Queries */

@media screen and (max-width: 1000px) {
    main div {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 750px) {
    main div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    main div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    main div img {
        width: 100%;
        height: auto;
    }
}