/* Global Grupos */

.global-grupos {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.global-grupos h4 {
    color: #0008;
}

.global-grupos h2 {
    text-align: center;
}

.global-grupos__nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    height: 400px;
    width: 100%;
}

.global-grupos__nav-item {
    flex-grow: 1;
    padding: 30px;
    height: 100%;
    max-width: 150px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 1px solid #0002;
    position: relative;

    justify-content: space-between;
    align-items: center;

    transition: all .5s;
}

.global-grupos__nav-item div {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.global-grupos__nav-item button {
    padding: 10px 12px;
    width: fit-content;
    border-radius: 100px;
    border: 1px solid #000a;
    background-color: #fff;

    transition: background-color .2s;
}

.global-grupos__nav-item button:hover {
    background-color: #000;
}

.global-grupos__nav-item button:hover svg path {
    stroke: #fff;
}

.global-grupos__nav-item button svg {
    width: 30px;
    stroke: #000;

    transition: stroke .3s;
}

.global-grupos__nav-item ul,
.global-grupos__nav-item__mas-informacion {
    display: none;
}

.global-grupos__nav-item ul svg {
    width: 20px;
    height: 20px;
}

.global-grupos__nav-item a {
    display: none;
}

.global-grupos__nav-item h6{
    font-size: 1.5rem;
    font-weight: 400;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

}

.global-grupos__nav-item p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.global-grupos__nav-item__mas-informacion {
    padding: 10px 12px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    font-size: .8rem;

    position: absolute;
    bottom: 30px;

    transition: background-color .3s;
}

.global-grupos__nav-item__mas-informacion svg {
    width: 15px;
    height: 15px;
}

.global-grupos__nav-item--active {
    flex-grow: 5;
    background-color: var(--yellow);
    border: none;
    max-width: 100%;

    justify-content: start;
    align-items: start;

    writing-mode: horizontal-tb;
}

.global-grupos__nav-item--active div {
    flex-direction: column;
    gap: 10px;
}

.global-grupos__nav-item--active button {
    transform: rotate(90deg);
    background-color: #000;

    
    position: absolute;
    right: 30px;
}

.global-grupos__nav-item--active button svg {
    stroke: #fff;
}

.global-grupos__nav-item--active h6 {
    font-weight: 600;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active p {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.global-grupos__nav-item--active ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.global-grupos__nav-item--active ul li p {
    font-size: .7rem;
    font-weight: 600;

    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active a {
    display: flex;
}

.global-grupos__nav-item--active a:hover {
    background-color: #000;
    color: #fff;
}

.global-grupos__nav-item--active a:hover svg path{
    stroke: #fff;
}

/* Global Grupos -- MEDIA QUERIES */

@media screen and (max-width: 1153px) {
    .global-grupos h2 {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .global-grupos {
        height: 700px;
        margin-top: -100px;
        margin-bottom: 150px;
    }

    .global-grupos__nav {
        flex-direction: column;
    }

    .global-grupos__nav-item {
        width: 100%;
        max-width: 100%;
        height: fit-content;
        flex-direction: row-reverse;
    }

    .global-grupos__nav-item button {
        position: initial;
    }

    .global-grupos__nav-item--active a {
        position: initial;
    }

    .global-grupos__nav-item h6, .global-grupos__nav-item p {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

    .global-grupos__nav-item div {
        flex-direction: column;
    }

    .global-grupos__nav-item--active {
        justify-content: initial;
        flex-direction: column;
    }

    .global-grupos__nav-item--active button {
        position: absolute;
    }
}

@media screen and (max-width: 450px) {
    .global-grupos {
        margin-bottom: 200px;
    }
}

@media screen and (max-width: 389px) {
    .global-grupos {
        margin-bottom: 250px;
    }

    .global-grupos__nav-item--active button {
        display: none;
    }
}


/* Grupos Gestiones */

.grupos-gestiones {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 70px;

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.grupos-gestiones__item {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--blue);
    padding: 20px 30px;
    width: 100%;
    position: relative;
}

.grupos-gestiones__item img {
    width: 80px;
    object-fit: contain;
}

.grupos-gestiones__item h6 {
    font-weight: 500;
}

.grupos-gestiones__item a {
    position: absolute;
    right: 30px;
    background-color: #fff;

    height: 35px;
    width: 35px;
    border: 1px solid #000a;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter .2s;
}

.grupos-gestiones__item--2 a {
    background-color: #000;
}

.grupos-gestiones__item a svg {
    width: 20px;
    height: 20px;
}

.grupos-gestiones__item--2 a svg path{
    stroke: #fff;
}

.grupos-gestiones__item a:hover {
    filter: invert(1);
}

/* Grupos Gestiones -- MEDIA QUERIES */

@media screen and (max-width: 900px) {
    .grupos-gestiones {
        flex-direction: column;
        gap: 20px;
    }

    .grupos-gestiones__item {
        width: 100%;
        height: 100px;
    }
}

@media screen and (max-width: 450px) {
    .grupos-gestiones {
        margin-top: 120px;
    }

    .grupos-gestiones__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 200px;
    }

    .grupos-gestiones__item a {
        position: initial;
    }
}

@media screen and (max-width: 385px) {
    .grupos-gestiones {
        margin-bottom: -110px;
    }
}   