/* HEADER MAIN */

.main-global-header {
    margin-bottom: 150px;
}

/* Grupos Gestiones */

.grupos-gestiones {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 70px;

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.grupos-gestiones__item {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--blue);
    padding: 20px 30px;
    width: 100%;
    position: relative;
}

.grupos-gestiones__item img {
    width: 80px;
    object-fit: contain;
}

.grupos-gestiones__item h6 {
    font-weight: 500;
}

.grupos-gestiones__item a {
    position: absolute;
    right: 30px;
    background-color: #fff;

    height: 35px;
    width: 35px;
    border: 1px solid #000a;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter .2s;
}

.grupos-gestiones__item a svg {
    width: 20px;
    height: 20px;
}

.grupos-gestiones__item a:hover {
    filter: invert(1);
}

/* Grupos Gestiones -- MEDIA QUERIES */

@media screen and (max-width: 1000px) {
    .grupos-gestiones {
        margin-top: 250px;
    }
}

@media screen and (max-width: 900px) {
    .grupos-gestiones {
        flex-direction: column;
        gap: 20px;
    }

    .grupos-gestiones__item {
        width: 100%;
        height: 100px;
    }
}

@media screen and (max-width: 450px) {
    .grupos-gestiones__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 200px;
    }

    .grupos-gestiones__item a {
        position: initial;
    }
}
 

/* Grupos Contacto */

.global-contacto {
    margin-top: 100px;
}