/* Grupos Header */

.grupos-header {
    width: 100vw;
    height: 250px;
    position: relative;
    overflow: hidden; 

    margin-bottom: 100px;
}

.grupos-header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block; 
}

.grupos-header::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(40deg, #000 0%, #0003 50%, #000 100%);
}

/*Grupos Header -- MEDIA QUERIES */

@media screen and (max-width: 800px) {
    .grupos-header {
        height: 140px;
    }
}

/* Desplegables */

.global-grupos {
    width: 80%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.global-grupos h4 {
    color: #0008;
}

.global-grupos h2 {
    text-align: center;
}

.global-grupos__nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    height: 400px;
    width: 100%;
}

.global-grupos__nav-item {
    flex-grow: 1;
    padding: 30px;
    height: 100%;
    max-width: 150px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 1px solid #0002;
    position: relative;

    justify-content: space-between;
    align-items: center;

    transition: all .5s;
}

.global-grupos__nav-item div {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.global-grupos__nav-item button {
    padding: 10px 12px;
    width: fit-content;
    border-radius: 100px;
    border: 1px solid #000a;
    background-color: #fff;

    transition: background-color .2s;
}

.global-grupos__nav-item button:hover {
    background-color: #000;
}

.global-grupos__nav-item button:hover svg path {
    stroke: #fff;
}

.global-grupos__nav-item button svg {
    width: 30px;
    stroke: #000;

    transition: stroke .3s;
}

.global-grupos__nav-item ul {
    display: none;
}

.global-grupos__nav-item a {
    display: none;
}

.global-grupos__nav-item h6{
    font-size: 1.5rem;
    font-weight: 400;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

}

.global-grupos__nav-item p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.global-grupos__nav-item--active {
    flex-grow: 5;
    background-color: var(--yellow);
    border: none;
    max-width: 100%;

    justify-content: start;
    align-items: start;

    writing-mode: horizontal-tb;
}

.global-grupos__nav-item--active div {
    flex-direction: column;
    gap: 10px;
}

.global-grupos__nav-item--active button {
    transform: rotate(90deg);
    background-color: #000;

    
    position: absolute;
    right: 30px;
}

.global-grupos__nav-item--active button svg {
    stroke: #fff;
}

.global-grupos__nav-item--active h6 {
    font-weight: 600;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active p {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.global-grupos__nav-item--active ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.global-grupos__nav-item--active ul li svg {
    height: 20px;
}

.global-grupos__nav-item--active ul li p {
    font-size: .7rem;
    font-weight: 600;

    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active a {
    padding: 10px 12px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    border-radius: 100px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    font-size: .8rem;

    position: absolute;
    bottom: 30px;

    transition: background-color .3s;
}

.global-grupos__nav-item--active a:hover {
    background-color: #000;
    color: #fff;
}

.global-grupos__nav-item--active a:hover svg path{
    stroke: #fff;
}

/* Desplegables -- MEDIA QUERIES */

@media screen and (max-width: 1153px) {
    .global-grupos h2 {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .global-grupos {
        height: 800px;
        margin-top: -150px;
    }

    .global-grupos__nav {
        flex-direction: column;
    }

    .global-grupos__nav-item {
        width: 100%;
        max-width: 100%;
        flex-direction: row-reverse;

        transition: all .2s;
    }

    .global-grupos__nav-item button {
        position: initial;
    }

    .global-grupos__nav-item--active a {
        position: initial;
    }

    .global-grupos__nav-item h6, .global-grupos__nav-item p {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

    .global-grupos__nav-item div {
        flex-direction: column;
    }

    .global-grupos__nav-item--active {
        justify-content: initial;
        flex-direction: column;
    }

    .global-grupos__nav-item--active button {
        position: absolute;
    }
}

/* Grupos Gestiones */

.grupos-gestiones {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 70px;

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.grupos-gestiones__item {
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--blue);
    padding: 20px 30px;
    width: 100%;
    position: relative;
}

.grupos-gestiones__item img {
    width: 80px;
    object-fit: contain;
}

.grupos-gestiones__item h6 {
    font-weight: 500;
}

.grupos-gestiones__item a {
    position: absolute;
    right: 30px;
    background-color: #fff;

    height: 35px;
    width: 35px;
    border: 1px solid #000a;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter .2s;
}

.grupos-gestiones__item--2 a {
    background-color: #000;
}

.grupos-gestiones__item--2 a svg path{
    stroke: #fff;
}

.grupos-gestiones__item a:hover {
    filter: invert(1);
}

/* Grupos Gestiones -- MEDIA QUERIES */

@media screen and (max-width: 900px) {
    .grupos-gestiones {
        flex-direction: column;
        gap: 20px;
    }

    .grupos-gestiones__item {
        width: 100%;
        height: 100px;
    }
}

@media screen and (max-width: 450px) {
    .grupos-gestiones {
        margin-top: 120px;
    }

    .grupos-gestiones__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 200px;
    }

    .grupos-gestiones__item a {
        position: initial;
    }
}

/* Contacto */

.global-contacto {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.global-contacto div {   
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.global-contacto div h4 {
    color: #0008;
}

.global-contacto div form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}   

.global-contacto div form label {
    display: flex;
    align-items: center;
    gap: 7px;

    border: 1px solid #0003;
    padding: 10px;
}

.global-contacto div form label svg {
    height: 15px;
    width: 15px;
}

.global-contacto div form label input {
    border: none;
    width: 100%;
}

.global-contacto div form label input:focus {
    outline: none;
}

textarea {
    resize: none;
}

.global-contacto div form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-family: 'Epilogue';
    border: 1px solid #0003;
}

.global-contacto div form textarea:focus {
    outline: none;
}

.global-contacto div form input[type="submit"] {
    width: 180px;
    height: 35px;
    background-color: #000;
    color: #fff;
    border: none;

    transition: background-color .2s, color .2s;
}

.global-contacto div form input[type="submit"]:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-weight: 500;
}

.global-contacto img {
    object-fit: cover;
    width: 45%;
    height: auto;
}

/* Section 5 -- MEDIA QUERIES */

@media screen and (max-width: 1000px) {
    .global-contacto {
        flex-direction: column;
        text-align: center;
    }

    .global-contacto div form input[type="submit"] {
        width: 100%;
    }

    .global-contacto img {
        width: 100%;
        height: 100px;
    }

    .global-contacto {
        gap: 40px;
    }
}

@media screen and (max-width: 387px) {
    .global-contacto div{
        margin-top: 100px;
    }
}