
.sub-grupos-main {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 150px;
}

.sub-grupos-main h3 {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.sub-grupos-main ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
}

.sub-grupos-main__nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    border: 1px solid #dfdfdf;
    padding: 20px 30px;
    width: 350px;
}

.sub-grupos-main__nav-item--active {
    background-color: var(--yellow);
    border: none;
}

.sub-grupos-main__nav-item span {
    height: 35px;
    width: 35px;

    border: 1px solid #000a;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s;
}

.sub-grupos-main__nav-item span svg {
    height: 20px;
    width: 20px;

}

.sub-grupos-main__nav-item span svg path {
    stroke-width: 1.5;
}

.sub-grupos-main__nav-item span:hover {
    background-color: #000;
}

.sub-grupos-main__nav-item span:hover svg path {
    stroke: #fff;
}

.sub-grupos-main__nav-item--active span {
    background-color: #000;
    transform: rotate(90deg);
}

.sub-grupos-main__nav-item--active span svg path {
    stroke: #fff;
}

.sub-grupos-main__main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sub-grupos-main__content {
    border: 1px solid #dfdfdf;
    padding: 30px;
    display: none;
    width: 100%;

    position: relative;
}

.sub-grupos-main__content h5 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.sub-grupos-main__content table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: .8rem;
    margin-top: 25px;
    margin-bottom: -5px;
}

.sub-grupos-main__content table thead {
    height: 50px;
    background-color: #0002;
}

.sub-grupos-main__content table tbody {
    height: 60px;
}

.sub-grupos-main__content table tbody tr th {
    width: auto;
}

th, tr, td {
    padding: 15px;
    color: #555;
    height: 40px;
    font-weight: 500;
}

td {
    border-left: 1px solid #0003;
    font-weight: 700;
    width: 130px;
}

thead tr th {
    border-bottom: 1px solid #0003;
    border-left: 1px solid #0003;
    padding-bottom: 7px;
}

tbody {
    background-color: #00000005;
}

tbody tr th {
    font-weight: 500 !important;
}

.sub-grupos-main__content__table-2 {
    display: none;
}

.sub-grupos-main__content h6 {
    margin-top: 20px;
    font-size: .9rem;
    color: #000;
}

.sub-grupos-main__content p {
    font-size: .9rem;
    margin-top: 5px;
    color: #000a;
}

.sub-grupos-main__content__esport-salut-familia {
    border: 1px solid #0003;
    padding: 20px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sub-grupos-main__content__esport-salut-familia h6 {
    margin-top: 0;
}

.sub-grupos-main__content__esport-salut-familia p {
    font-size: 1rem;
    color: #000a;
    font-weight: 600;
}

.sub-grupos-main__content__esport-salut-familia p span {
    font-size: 1rem;
    display: block;
    font-weight: 500;
    color: #000;

    margin-top: 10px;
}

#comienzo-clases {
    font-size: .8rem;
    font-weight: 600;
    color: #000;
    margin-top: 20px;
}

.sub-grupos-main__content-button-1,
.sub-grupos-main__content-button-2 {
    padding: 10px 25px;
    width: fit-content;
    border: none;
    border-radius: 100px;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    text-decoration: none;
    color: #000;
    
    position: absolute;
    bottom: -50px;
    left: 0;
}

.sub-grupos-main__content-button-1 {
    background-color: #010101;
    color: #fff;

    transition: transform .2s;
}


.sub-grupos-main__content-button-1 svg {
    width: 15px;
    height: 15px;
}

.sub-grupos-main__content-button-1 svg path {
    stroke: #fff;
}

.sub-grupos-main__content-button-1:hover {
    transform: scale(1.05);
}

.sub-grupos-main__content-button-2 {
    text-decoration: underline;

    left: 135px;
}

.sub-grupos-main__content-button-2 svg {
    width: 15px;
    height: 15px;
}

.sub-grupos-main__content--active {
    display: block;
}

/* Media Queries */

@media screen and (max-width: 1025px) {
    .sub-grupos-main__main {
        flex-direction: column;
        justify-content: center;
    } 

    .sub-grupos-main__nav-item {
        width: 100%;
    }

    .sub-grupos-main__content h6 {
        line-height: 1.2rem;
    }

    .sub-grupos-main__content p {
        font-size: 1rem;
    }

    .sub-grupos-main__content__esport-salut-familia p span{
        font-size: 1rem;
    }

    .sub-grupos-main__content__esport-salut-familia {
        width: 100%;
    }

    .sub-grupos-main__content__table-1 {
        display: none;
    }

    .sub-grupos-main__content__table-2 {
        display: block;
    }

    .sub-grupos-main__content-button-1,
    .sub-grupos-main__content-button-2 {
        width: 100%;    
    }

    .sub-grupos-main__content-button-2 {
        bottom: -90px;
        left: 0;
    }
}

