/* Nuestro club - Header */

.club-header {
    width: 100vw;
    height: 250px;
    position: relative;
    overflow: hidden; 
    padding: 0 10%;

    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.club-header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block; 

    position: absolute;
}

.club-header::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(40deg, #000 0%, #0007 50%, #000 100%);
}

.club-header h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;

    z-index: 10;
}

/* Nuestro club - Historia */

.club-historia {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.club-historia h3 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
}
 
/* Nuestro club - Historia - MEDIA QUERIES */

@media screen and (max-width: 600PX) {
    .club-historia img {
        width: 100%;
        height: 300px;

        object-fit: cover;
    }
}

/* Nuestro club - Entrenadres */

.club-entrenadores {
    width: 100%;
    padding: 50px 10%;
    border-radius: 20px 20px 0 0;
    margin-top: 100px;
    background-color: #000;
    padding-bottom: 100px;
}

.club-entrenadores h3 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 10px;
    width: 100%;    
    color: #fff;
}

.club-entrenadores__content {
    width: 80%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.club-entrenadores__content div {
    width: calc(25% - 15px);
    height: 300px;
    color: #fff;

    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.club-entrenadores__content div img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.club-entrenadores__content div h6 {
    font-size: 1rem;
    margin-top: 17px;
    font-weight: 400;
}

.club-entrenadores__content div p {
    margin-top: 5px;
    font-size: .7rem;
    font-weight: 200;
    line-height: .8rem;
}

/* Nuestro club - Entrenadres -- MEDIA QUERIES */

@media screen and (max-width: 1000px) {
    .club-entrenadores__content div {
        width: calc(50% - 15px);
    }    
}

@media screen and (max-width: 550px) {
    .club-entrenadores__content div {
        width: 100%;
    }   
}

/* Contacto */

.global-contacto {
    background-color: #fff;
    width: 100%;
    padding: 70px 10%;
    margin: auto;
    margin-top: -50px;
    border-radius: 50px 50px 0 0;
}

.global-contacto__content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.global-contacto__content div{   
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.global-contacto__content div h4 {
    color: #0008;
}

.global-contacto__content div form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}   

.global-contacto__content div form label {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 45px;
    padding: 0 12px;
    border: 1px solid #0003;
    border-radius: 100px;
}

.global-contacto__content div form label svg {
    height: 20px;
    width: 20px;
}

.global-contacto__content div form label input {
    border: none;
    width: 100%;
}

.global-contacto__content div form label input:focus {
    outline: none;
}

textarea {
    resize: none;
}

.global-contacto__content div form textarea {
    padding: 15px;
    width: 100%;
    height: 100px;
    font-family: 'Epilogue';
    border: 1px solid #0003;
    border-radius: 23px;
}

.global-contacto__content div form textarea:focus {
    outline: none;
}

.global-contacto__content div form input[type="submit"] {
    width: 180px;
    height: 35px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 100px;

    transition: background-color .2s, color .2s;
}

.global-contacto__content div form input[type="submit"]:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-weight: 500;
}

.global-contacto__content img {
    object-fit: cover;
    width: 45%;
    height: auto;
}

/* Contacto -- MEDIA QUERIES */

@media screen and (max-width: 1000px) {
    .global-contacto__content {
        flex-direction: column;
        text-align: center;
    }

    .global-contacto__content div form input[type="submit"] {
        width: 100%;
    }

    .global-contacto__content img {
        width: 100%;
        height: 100px;
    }

    .global-contacto__content {
        gap: 40px;
    }
}

@media screen and (max-width: 387px) {
    .global-contacto__content div{
        margin-top: 100px;
    }
}

