/* HEADER */

.index-header {
    width: 100%;
    padding: 100px 0;
    padding-top: 70px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    width: 80%;
    max-width: 1200px;
}

.index-header__column {
    flex-grow: 1;
}

.index-header__column-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.index-header__column-1__background-image {
    height: 200px;
    width: 150px;
    background-color: #262626;
    position: relative;
}

.index-header__column-1__background-image img {
    position: absolute;
    width: 140px;
    top: -30px;
    right: 0;
}

.index-header__column-1__button {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 700;
    font-size: .7rem;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px 10px;

    transition: transform .2s;
}

.index-header__column-1__button:hover {
    transform: scale(1.05);
}

.index-header__column-1__button svg {
    width: 15px;
    height: 15px;
}

.index-header__column-1__social {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 410px;
}

.index-header__column-1__social p {
    font-size: .7rem;
}

.index-header__column-1__social-line {
    width: 40px;
}

.index-header__column-1__social a svg {
    width: 20px;
}

.index-header__column-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

    position: relative;
}

.index-header__column-2__icon-1,
.index-header__column-2__icon-2 {
    position: absolute;
    width: 70px;
}

.index-header__column-2__icon-1 {
    top: 0;
    right: -50px;
}

.index-header__column-2__icon-2 {
    bottom: 30px;
    left: -50px;
}

.index-header__column-2 p {
    margin: 0 auto;
    max-width: 350px;
}

.index-header__column-2__buttons {
    display: flex;
    justify-content: center;
}

.index-header__column-2__buttons-1,
.index-header__column-2__buttons-2 {
    padding: 10px 25px;
    border: none;
    border-radius: 100px;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.index-header__column-2__buttons-1 {
    background-color: #010101;
    color: #fff;

    transition: transform .2s;
}

.index-header__column-2__buttons-1:hover {
    transform: scale(1.05);
}

.index-header__column-2__buttons-2 {
    text-decoration: underline;
}

.index-header__column-2 svg {
    height: 15px;
    width: 15px;
}

.index-header__column-3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
}

.index-header__column-3__background-image-1,
.index-header__column-3__background-image-2 {
    width: 140px;
    height: 120px;
}

.index-header__column-3__background-image-1 {
    padding: 10px 15px;
    position: relative;
    overflow: hidden;
    background-color: var(--yellow);
    color: #000;
    text-decoration: none;
}

.index-header__column-3__background-image-1 img {
    width: 120px;
    position: absolute;
    top: 30px;
    left: 50px;
}

.index-header__column-3__background-image-2 {
    position: relative;
    background-color: var(--blue);
}

.index-header__column-3__background-image-2 img {
    width: 170px;
    position: absolute;
    top: 15px;
    left: 5px;
}

.index-header__column-3__background-image-1__title {
    font-size: .7rem;
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

.index-header__column-3__background-image-1__icon {
    height: 15px;
    width: 15px;
    position: absolute;
    bottom: 10px;
    left: 15px;

    transition: transform .2s;
}

.index-header__column-3__background-image-1__icon:hover {
    transform: scale(1.05);
}

/* HEADER -- MEDIA QUERIES */

@media screen and (max-width: 1025px) {
    .index-header__column-1__social {
        top: 450px;
    }

    .index-header__column-2__icon {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    .index-header {
        flex-direction: column;
        padding-bottom: 200px;
    }

    .index-header__column-1__background-image {
        display: none;
    }

    .index-header__column-1__social {
        position: absolute;
        top: 670px;
        justify-content: center;
        left: 0;
        right: 0;
        margin: auto;
    }

    .index-header__column-1__button {
        position: absolute;
        top: 610px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .index-header__column-3__background-image-1 {
        width: 350px;
        height: 100px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .index-header__column-3__background-image-1 img {
        left: 280px;
    }

    .index-header__column-3__background-image-2 {
        display: none;
    }

    .index-header__column-3 {
        margin: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 457px) {
    .index-header {
        padding-bottom: 180px;
    }

    .index-header__column-1__social {
        top: 700px;
        flex-wrap: wrap;
        width: 100px;
        justify-content: center;
    }

    .index-header__column-1__social-line {
        display: none;
    }

    .index-header__column-1__button {
        top: 640px;
    }

    .index-header__column-2__buttons {
        flex-direction: column;
        width: fit-content;
        margin: auto;
    }

    .index-header__column-3__background-image-1 {
        width: 110px;
        border-radius: 0;
        margin-top: 0;
    }

    .index-header__column-3__background-image-1 img {
        width: 90px;
        position: absolute;
        top: 25px;
        left: 45px;
    }
}

@media screen and (max-width: 358px) {
    .index-header__column-1__button {
        top: 660px;
    }

    .index-header__column-1__social {
        top: 720px;
    }
}

@media screen and (max-width: 328px) {
    .index-header {
        padding-bottom: 190px;
    }

    .index-header__column-1__social {
        top: 750px;
    }

    .index-header__column-1__button {
        top: 700px;
    }
}

@media screen and (max-width: 284px) {
    .index-header {
        padding-bottom: 150px;
    }

    .index-header__column-1__social {
        top: 750px;
    }

    .index-header__column-1__button {
        top: 700px;
    }
}

/* SECTION 2 */

.index-historia-patrocinadores {
    width: 100%;
    background-color: #010101;
    color: #fff;
    border-radius: 20px 20px 0 0;
    padding: 100px 0;
    padding-bottom: 150px;
    position: relative;
}

.index-historia-patrocinadores__historia {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 100px;
    display: flex;
    gap: 50px;
}

.index-historia-patrocinadores__historia-contenido {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.index-historia-patrocinadores__historia-contenido p {
    color: #fffa;
    text-wrap: break-word; 
}

.index-historia-patrocinadores__historia-contenido a {
    background-color: #fff;
    width: fit-content;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: .7rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 3px;

    transition: transform .2s;
}

.index-historia-patrocinadores__historia-contenido a:hover {
    transform: scale(1.05);
}

.index-historia-patrocinadores__historia-contenido svg {
    width: 15px;
}

.index-historia-patrocinadores__historia-imagen {
    object-fit: cover;
    width: 600px;
    height: auto;
}

.index-historia-patrocinadores__patrocinadores {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.index-historia-patrocinadores__patrocinadores-targetas {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.index-historia-patrocinadores__patrocinadores-targetas a {
    background-color: #fff1;
    color: #fff;
    backdrop-filter: blur(5px);
    text-decoration: none;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.index-historia-patrocinadores__patrocinadores-targetas img {
    height: 50px;
}

.index-historia-patrocinadores__patrocinadores-targetas span {
    width: 40px;
    height: 40px;
    border: 1px solid #555;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter .2s;
}

.index-historia-patrocinadores__patrocinadores-targetas span:hover {
    filter: invert(1);
}

.index-historia-patrocinadores__patrocinadores-targetas :first-child img {
    height: 80px;
}

.index-historia-patrocinadores__patrocinadores-targetas :first-child span {
    background-color: #fff;
}

.index-historia-patrocinadores__patrocinadores-button {
    backdrop-filter: blur(5px);
    color: #fff;
    width: fit-content;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: .7rem;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    gap: 3px;
    z-index: 1;
    margin: auto;

    transition: transform .2s;
}

.index-historia-patrocinadores__patrocinadores-button:hover {
    transform: scale(1.05);
}

.index-historia-patrocinadores__patrocinadores-button svg {
    width: 15px;
}

.index-historia-patrocinadores__background-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1200px;
    max-width: 100%;
    height: 200px;
    margin: auto;
}

.index-historia-patrocinadores__background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 100%;
    margin: auto;
}

.index-historia-patrocinadores__background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
                linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1));
    pointer-events: none;
}

/* SECTION 2 - MEDIA QUERIES */

@media screen and (max-width: 1150px) {
    .index-historia-patrocinadores__historia {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .index-historia-patrocinadores__historia a {
        margin: auto;
    }

    .index-historia-patrocinadores__historia img {
        width: 100%;
    }
}

@media screen and (max-width: 555px) {
    .index-historia-patrocinadores__patrocinadores-targetas {
        gap: 0;
    }
    
    .index-historia-patrocinadores__patrocinadores-targetas a {
        padding-top: 20px;
        padding-bottom: 20px;

        background-color: transparent;
    }

    .index-historia-patrocinadores__patrocinadores-targetas a h6 {
        display: none;
    }

    .index-historia-patrocinadores__patrocinadores-targetas a span{
        display: none;
    }

    .index-historia-patrocinadores__patrocinadores-targetas img {
        height: 100%;
    }

    .index-historia-patrocinadores__patrocinadores-targetas :first-child img {
        height: 100%;
    }
}

/* SECTION 3 */

.index-gestiones {
    padding: 100px 0;
}

.index-gestiones h4, .index-gestiones h2 {
    text-align: center;
}

.index-gestiones h4 {
    color: #0008;
}

.index-gestiones__sections {
    margin: auto;
    width: 80%;
    max-width: 1200px;

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    margin-top: 50px;
}

.index-gestiones__sections h6 {
    font-weight: 500;
}

.index-gestiones__sections-1 {
    background-color: var(--red);
    padding: 30px;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;

    min-height: 200px;
    width: 40%;
}

.index-gestiones__sections p {
    color: #000a;
}

.index-gestiones__sections-1 a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: .7rem;
    background-color: #000;
    width: fit-content;

    position: absolute;
    bottom: 30px;

    display: flex;
    align-items: center;
    gap: 3px;

    transition: transform .2s;
}

.index-gestiones__sections-1 a:hover {
    transform: scale(1.05);
}   

.index-gestiones__sections-2 {
    background-color: var(--blue);
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: calc(60% - 20px);
}

.index-gestiones__sections-2 p {
    color: #000a;
}

.index-gestiones__sections-2__variaciones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.index-gestiones__sections-2__variaciones-item {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: #fff;
    height: 100px;
    padding: 20px;
    padding-bottom: 15px;
    text-wrap: wrap;
    text-decoration: none;
}

.index-gestiones__sections-2__variaciones-item svg {
    width: 30px;
    align-self: start;
}

.index-gestiones__sections-2__variaciones-item p {
    align-self: start;
    color: #000;
    font-weight: 500;
}

.index-gestiones__sections-2__variaciones-item span {
    align-self: end;

    width: 30px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter .2s;
}

.index-gestiones__sections-2__variaciones-item span:hover {
    filter: invert(1);
}

.index-gestiones__sections-2__variaciones-item span svg {
    height: 100%;
    width: 100%;

    width: 20px;
}

.index-gestiones__sections-2__variaciones-item--2 span {
    background-color: #000;
}

.index-gestiones__sections-2__variaciones-item--1 span {
    background-color: #fff;
}

.index-gestiones__sections-3 {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 100px 0;

    background-color: #000;
    min-height: 150px;
    padding: 30px;
    padding-left: 100px;
    color: #fff;
    min-width: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

    z-index: -1;
}

.index-gestiones__sections-3 img {
    width: 100px;

    position: absolute;
    left: 0;
    top: 50px;
}

.index-gestiones__sections-3 p {
    font-size: 1.3rem;
    display: inline-block;
    width: 70%;
    color: #fff;

    line-height: 2rem;
    font-family: 'Unbounded';
}

.index-gestiones__sections-3 a {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 100px;
    font-size: .9rem;
    font-weight: 500;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

    width: fit-content;

    transition: transform .2s;
}

.index-gestiones__sections-3 a:hover {
    transform: scale(1.05);
}

/* SECTION 3 -- MEDIA QUERIES */

@media screen and (max-width: 1140px) {
    .index-gestiones {
        padding-bottom: 0;
    }

    .index-gestiones__sections-1 {
        width: 100%;
        min-height: 200px;
        text-align: center;
    }

    .index-gestiones__sections-1 a {
        margin: auto;
        left: 0;
        right: 0;
    }

    .index-gestiones__sections-2 {
        width: 100%;
        text-align: center;
    }

    .index-gestiones__sections-3 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        padding-top: 60px;
    }

    .index-gestiones__sections-3 img {
        display: none;
    }

    .index-gestiones__sections-3 p {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

@media screen and (max-width: 650px) {
    .index-gestiones__sections-2__variaciones-item {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .index-gestiones__sections-2__variaciones-item p,
    .index-gestiones__sections-2__variaciones-item a, 
    .index-gestiones__sections-2__variaciones-item svg {
        align-self: center;
    }

    .index-gestiones__sections-1 {
        min-height: 250px;
    }
}

/* Section 3.2 */

.index-gestiones__licencias {
    background-color: var(--blue);
    width: 100%;
    padding: 100px 10%;
    margin: 0;
    margin: auto;
    margin-top: 120px;
    border-radius: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.index-gestiones__licencias:first-child {
    border-right: 1px solid #aaa;
}

.index-gestiones__licencias-item {
    padding: 0 50px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-width: 650px;
}

.index-gestiones__licencias-item-1 {
    border-right: 1px solid #0002;

    width: 50%;
}

.index-gestiones__licencias-item-2 {
    width: 50%;
}

.index-gestiones__licencias-item h6 {
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
}

.index-gestiones__licencias-item svg {
    width: 30px;
}

.index-gestiones__licencias-item__content {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: top;

    min-height: 70px;
}

.index-gestiones__licencias-item__content p {
    color: #000a;
}

.index-gestiones__licencias-item__content span {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 100px;
    background-color: #fff;

    margin-top: 10px;
}

.index-gestiones__licencias-item__content a {
    color: #000;
    background-color: #fff;
    border: 1px solid #000a ;
    padding: 15px;
    border-radius: 100px;
    height: 60px;
    align-self: flex-end;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter .2s;
}

.index-gestiones__licencias-item-2 .index-gestiones__licencias-item__content a {
    background-color: #000;
    border: 1px solid #fffa;
}

.index-gestiones__licencias-item__content a:hover {
    filter: invert(1);
}

/* Section 3.2 -- MEDIA QUERIES */

@media screen and (max-width: 1140px) {
    .index-gestiones__licencias {
        margin-top: -10px;
        flex-direction: column;
        text-align: center;
        padding: 0 10%;
        margin-bottom: 100px;
    }

    .index-gestiones__licencias-item__icon {
        width: 30px;
        margin-bottom: -20px;
    }

    .index-gestiones__licencias-item {
        padding: 50px 20px;

        justify-content: center;
        align-items: center;
    }

    .index-gestiones__licencias-item__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .index-gestiones__licencias-item__content a {
        align-self: center;
        justify-self: center;

        padding: 10px;
        height: 50px;
    }

    .index-gestiones__licencias-item p {
        text-align: center;
        justify-self: center;
        align-self: center;
    }

    .index-gestiones__licencias-item-1 {
        border: none;
        border-bottom: 1px solid #0002;
        width: 100%;
    }

    .index-gestiones__licencias-item-2 {
        width: 100%;
    }
}

/* Section 4 */

.global-grupos {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.global-grupos h4 {
    color: #0008;
}

.global-grupos h2 {
    text-align: center;
}

.global-grupos__nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    height: 400px;
    width: 100%;
}

.global-grupos__nav-item {
    flex-grow: 1;
    padding: 30px;
    height: 100%;
    max-width: 150px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 1px solid #0002;
    position: relative;

    justify-content: space-between;
    align-items: center;

    transition: all .5s;
}

.global-grupos__nav-item div {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.global-grupos__nav-item button {
    padding: 10px 12px;
    width: fit-content;
    border-radius: 100px;
    border: 1px solid #000a;
    background-color: #fff;

    transition: background-color .2s;
}

.global-grupos__nav-item button:hover {
    background-color: #000;
}

.global-grupos__nav-item button:hover svg path {
    stroke: #fff;
}

.global-grupos__nav-item button svg {
    width: 30px;
    stroke: #000;

    transition: stroke .3s;
}

.global-grupos__nav-item ul {
    display: none;
}

.global-grupos__nav-item a {
    display: none;
}

.global-grupos__nav-item h6{
    font-size: 1.5rem;
    font-weight: 400;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

}

.global-grupos__nav-item p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.global-grupos__nav-item--active {
    flex-grow: 5;
    background-color: var(--yellow);
    border: none;
    max-width: 100%;

    justify-content: start;
    align-items: start;

    writing-mode: horizontal-tb;
}

.global-grupos__nav-item--active div {
    flex-direction: column;
    gap: 10px;
}

.global-grupos__nav-item--active button {
    transform: rotate(90deg);
    background-color: #000;

    
    position: absolute;
    right: 30px;
}

.global-grupos__nav-item--active button svg {
    stroke: #fff;
}

.global-grupos__nav-item--active h6 {
    font-weight: 600;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active p {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.global-grupos__nav-item--active ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.global-grupos__nav-item--active ul li svg {
    height: 20px;
}

.global-grupos__nav-item--active ul li p {
    font-size: .7rem;
    font-weight: 600;

    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active a {
    padding: 10px 12px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    border-radius: 100px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    font-size: .8rem;

    position: absolute;
    bottom: 30px;

    transition: background-color .3s;
}

.global-grupos__nav-item--active a:hover {
    background-color: #000;
    color: #fff;
}

.global-grupos__nav-item--active a:hover svg path{
    stroke: #fff;
}

/* Section 4 -- MEDIA QUERIES */

@media screen and (max-width: 1153px) {
    .global-grupos h2 {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .global-grupos {
        height: 2000px;
    }

    .global-grupos__nav {
        flex-direction: column;
        height: 1000px;
        max-height: 1000px;
    }

    .global-grupos__nav-item {
        width: 100%;
        max-width: 100%;
        flex-direction: row-reverse;
    }

    .global-grupos__nav-item button {
        position: initial;
    }

    .global-grupos__nav-item--active a {
        position: initial;
    }

    .global-grupos__nav-item h6, .global-grupos__nav-item p {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

    .global-grupos__nav-item div {
        flex-direction: column;
    }

    .global-grupos__nav-item--active {
        justify-content: initial;
        flex-direction: column;
        position: absolute;
    }

    .global-grupos__nav-item--active button {
        position: absolute;
    }
}

/* Section 5 */

.global-contacto {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.global-contacto div {   
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.global-contacto div h4 {
    color: #0008;
}

.global-contacto div form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}   

.global-contacto div form label {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 45px;
    padding: 0 12px;
    border: 1px solid #0003;
    border-radius: 100px;
}

.global-contacto div form label svg {
    height: 20px;
    width: 20px;
}

.global-contacto div form label input {
    border: none;
    width: 100%;
}

.global-contacto div form label input:focus {
    outline: none;
}

textarea {
    resize: none;
}

.global-contacto div form textarea {
    padding: 15px;
    width: 100%;
    height: 100px;
    font-family: 'Epilogue';
    border: 1px solid #0003;
    border-radius: 23px;
}

.global-contacto div form textarea:focus {
    outline: none;
}

.global-contacto div form input[type="submit"] {
    width: 180px;
    height: 35px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 100px;

    transition: background-color .2s, color .2s;
}

.global-contacto div form input[type="submit"]:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-weight: 500;
}

.global-contacto img {
    object-fit: cover;
    width: 45%;
    height: auto;
}

/* Section 5 -- MEDIA QUERIES */

@media screen and (max-width: 1000px) {
    .global-contacto {
        flex-direction: column;
        text-align: center;
    }

    .global-contacto div form input[type="submit"] {
        width: 100%;
    }

    .global-contacto img {
        width: 100%;
        height: 100px;
    }

    .global-contacto {
        gap: 40px;
    }
}