/* HEADER */

.index-header {
    width: 100%;
    padding: 100px 0;
    padding-top: 70px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    width: 80%;
    max-width: 1200px;
}

.index-header__column {
    flex-grow: 1;
}

.index-header__column-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.index-header__column-1__background-image {
    height: 180px;
    width: 130px;
    background-color: #262626;
    position: relative;
}

.index-header__column-1__background-image img {
    position: absolute;
    width: 120px;
    top: -20px;
    right: 0;
}

.index-header__column-1__button {
    background-color: #FFF;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 700;
    font-size: .7rem;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px 10px;
}

.index-header__column-1__button svg {
    width: 15px;
    height: 15px;
}

.index-header__column-1__social {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 410px;
}

.index-header__column-1__social p {
    font-size: .7rem;
}

.index-header__column-1__social-line {
    width: 40px;
}

.index-header__column-1__social a svg {
    width: 15px;
}

.index-header__column-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.index-header__column-2 p {
    margin: 0 auto;
    max-width: 350px;
}

.index-header__column-2__buttons {
    display: flex;
    justify-content: center;
}

.index-header__column-2__buttons-1,
.index-header__column-2__buttons-2 {
    padding: 10px 25px;
    border: none;
    border-radius: 100px;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.index-header__column-2__buttons-1 {
    background-color: #010101;
    color: #fff;
}

.index-header__column-2__buttons-2 {
    background-color: #fff;
    text-decoration: underline;
}

.index-header__column-2 svg {
    height: 15px;
    width: 15px;
}

.index-header__column-3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
}

.index-header__column-3__background-image-1,
.index-header__column-3__background-image-2 {
    width: 110px;
    height: 90px;
}

.index-header__column-3__background-image-1 {
    padding: 10px 15px;
    position: relative;
    overflow: hidden;
    background-color: var(--yellow);
    color: #000;
}

.index-header__column-3__background-image-1 img {
    width: 85px;
    position: absolute;
    top: 28px;
    left: 50px;
}

.index-header__column-3__background-image-2 {
    position: relative;
    background-color: var(--blue);
}

.index-header__column-3__background-image-2 img {
    width: 140px;
    position: absolute;
    top: 0;
    left: 5px;
}

.index-header__column-3__background-image-1__title {
    font-size: .7rem;
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

.index-header__column-3__background-image-1__icon {
    height: 15px;
    width: 15px;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

/* HEADER -- MEDIA QUERIES */

@media screen and (max-width: 1025px) {
    .index-header__column-1__social {
        top: 450px;
    }
}

@media screen and (max-width: 920px) {
    .index-header {
        flex-direction: column;
        padding-bottom: 200px;
    }

    .index-header__column-1__background-image {
        display: none;
    }

    .index-header__column-1__social {
        position: absolute;
        top: 670px;
        justify-content: center;
        left: 0;
        right: 0;
        margin: auto;
    }

    .index-header__column-1__button {
        position: absolute;
        top: 610px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .index-header__column-3__background-image-1 {
        width: 350px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .index-header__column-3__background-image-1 img {
        left: 280px;
    }

    .index-header__column-3__background-image-2 {
        display: none;
    }

    .index-header__column-3 {
        margin: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 457px) {
    .index-header {
        padding-bottom: 180px;
    }

    .index-header__column-1__social {
        top: 700px;
        flex-wrap: wrap;
        width: 100px;
        justify-content: center;
    }

    .index-header__column-1__social-line {
        display: none;
    }

    .index-header__column-1__button {
        top: 640px;
    }

    .index-header__column-2__buttons {
        flex-direction: column;
        width: fit-content;
        margin: auto;
    }

    .index-header__column-3__background-image-1 {
        width: 110px;
        border-radius: 0;
        margin-top: 0;
    }

    .index-header__column-3__background-image-1 img {
        width: 90px;
        position: absolute;
        top: 25px;
        left: 45px;
    }
}

@media screen and (max-width: 358px) {
    .index-header__column-1__button {
        top: 660px;
    }

    .index-header__column-1__social {
        top: 720px;
    }
}

@media screen and (max-width: 328px) {
    .index-header {
        padding-bottom: 190px;
    }

    .index-header__column-1__social {
        top: 750px;
    }

    .index-header__column-1__button {
        top: 700px;
    }
}

@media screen and (max-width: 284px) {
    .index-header {
        padding-bottom: 150px;
    }

    .index-header__column-1__social {
        top: 750px;
    }

    .index-header__column-1__button {
        top: 700px;
    }
}

/* SECTION 2 */

.index-historia-patrocinadores {
    width: 100%;
    background-color: #010101;
    color: #fff;
    border-radius: 20px 20px 0 0;
    padding: 100px 0;
    padding-bottom: 150px;
    position: relative;
}

.index-historia-patrocinadores__historia {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 100px;
    display: flex;
    gap: 50px;
}

.index-historia-patrocinadores__historia-contenido {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.index-historia-patrocinadores__historia-contenido p {
    color: #fff8;
    text-wrap: break-word; 
}

.index-historia-patrocinadores__historia-contenido a {
    background-color: #fff;
    width: fit-content;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: .7rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 3px;
}

.index-historia-patrocinadores__historia-contenido svg {
    width: 15px;
}

.index-historia-patrocinadores__historia-imagen {
    object-fit: cover;
    width: 600px;
    height: auto;
}

.index-historia-patrocinadores__patrocinadores {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.index-historia-patrocinadores__patrocinadores-targetas {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.index-historia-patrocinadores__patrocinadores-targetas div {
    background-color: #fff1;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.index-historia-patrocinadores__patrocinadores-targetas img {
    height: 50px;
}

.index-historia-patrocinadores__patrocinadores-targetas a {
    width: 30px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 50%;
    background-color: #0003;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-historia-patrocinadores__patrocinadores-targetas :first-child img {
    height: 80px;
}

.index-historia-patrocinadores__patrocinadores-targetas :first-child a {
    background-color: #fff;
}

.index-historia-patrocinadores__patrocinadores-button {
    backdrop-filter: blur(5px);
    color: #fff;
    width: fit-content;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: .7rem;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    gap: 3px;
    z-index: 1;
    margin: auto;
}

.index-historia-patrocinadores__patrocinadores-button svg {
    width: 15px;
}

.index-historia-patrocinadores__background-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1200px;
    max-width: 100%;
    height: 200px;
    margin: auto;
}

.index-historia-patrocinadores__background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 100%;
    margin: auto;
}

.index-historia-patrocinadores__background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
                linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1));
    pointer-events: none;
}

/* SECTION 2 - MEDIA QUERIES */

@media screen and (max-width: 1150px) {
    .index-historia-patrocinadores__historia {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .index-historia-patrocinadores__historia-contenido a {
        margin: auto;
    }

    .index-historia-patrocinadores__historia img {
        width: 100%;
    }
}

@media screen and (max-width: 555px) {
    .index-historia-patrocinadores__patrocinadores-targetas div {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }

    .index-historia-patrocinadores__patrocinadores-targetas img {
        height: 35px;
    }

    .index-historia-patrocinadores__patrocinadores-targetas :first-child img {
        height: 40px;
    }
}

/* SECTION 3 */

.index-gestiones {
    margin: auto;
    width: 80%;
    max-width: 1200px;
    padding: 100px 0;
}

.index-gestiones h4, .index-gestiones h2 {
    text-align: center;
}

.index-gestiones h4 {
    color: #0008;
}

.index-gestiones__sections {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    margin-top: 50px;
}

.index-gestiones__sections-1 {
    background-color: var(--red);
    padding: 30px;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 400px;
}

.index-gestiones__sections-1 p {
    color: #000a;
}

.index-gestiones__sections-1 a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: .7rem;
    background-color: #000;
    width: fit-content;

    position: absolute;
    bottom: 30px;

    display: flex;
    align-items: center;
    gap: 3px;
}

.index-gestiones__sections-2 {
    background-color: var(--blue);
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    width: calc(100% - 400px - 20px);
}

.index-gestiones__sections-2 p {
    color: #000a;
}

.index-gestiones__sections-2__variaciones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.index-gestiones__sections-2__variaciones-item {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: #fff;
    height: 100px;
    padding: 20px;
    padding-bottom: 15px;
    text-wrap: wrap;
}

.index-gestiones__sections-2__variaciones-item svg {
    width: 30px;
    align-self: start;
}

.index-gestiones__sections-2__variaciones-item p {
    align-self: start;
    color: #000;
    font-weight: 500;
}

.index-gestiones__sections-2__variaciones-item a {
    align-self: end;

    width: 30px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-gestiones__sections-2__variaciones-item a svg {
    height: 100%;
    width: 100%;

    width: 20px;
}

.index-gestiones__sections-2__variaciones-item--2 a {
    background-color: #000;
}