@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
}

h1, h2, h3 {
    font-family: 'Unbounded';
    font-weight: 400;
    text-wrap: balance;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff8;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: .9rem;
    text-wrap: pretty;
    line-height: 20px;
}

:root {
    --yellow: #f5f51b;
    --blue: #e3f2f5;
    --red: #fff0d2;
}

/* HEADER GLOBAL */

.header {
    height: 70px;
    width: 100%;
    text-align: center;
    font-size: .8rem;
    border-bottom: 1px solid #0002;
    color: #000a;
    font-weight: 600;
}

.header__nav__list-item .active {
    color: #000;
}

.header__nav__list-item:hover {
    color: #000;
}

.header__logo {
    width: 150px;
}

.header__nav {
    width: 80%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.header__nav__list {
    list-style: none;
    width: 100%;

    display: flex;
    justify-content: space-between;

    position: relative;
}

.header__nav__list-item {
    position: relative;
    transition: color .2s;
}

.header__nav__list-item a {
    text-decoration: none;
    color: inherit;

    display: block;
    padding: 29px 0;
}

.header__button {
    text-decoration: none;
    color: inherit;
    width: 200px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 20px;
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    position: relative;
    transition: color .3s;
}

.header__nav-menu {
    display: none;
}

.--item-mobile-menu {
    display: none;
}

/* HEADER GLOBAL -- MEDIA QUERIES*/

@media screen and (max-width: 1450px) {
    .header__nav {
        gap: 90px;
    }
}

@media screen and (max-width: 1300px) {
    .header__nav {
        gap: 60px;
    }

    .header__logo  {
        width: 120px;
    }
}

@media screen and (max-width: 1100px) {
    .header {
        font-size: .7rem;
    }
}

@media screen and (max-width: 1025px) {

    .header__logo {
        width: 150px;
    }

    .--item-mobile-menu {
        display: inline;
    }
    
    .header__button {
        display: none;
    }

    .header__nav__list {
        display: none;
    }

    .header__nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 10px;
        border-radius: 100px;
        border: 1px solid #aaa;

        width: 50px;
        z-index: 1001;
    }

    .header {
        height: 110px;
    }

    .header__nav {
        padding-top: 50px;
    }

    .navigation-active {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        font-size: .9rem;
        font-weight: 400;

        list-style: none;
        border-left: 1px solid #aaa;
        box-shadow: 0 0 100dvh 1000vh #fff;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: #fff;
        height: 100dvh;
        width: 100vw;
    }

    .navigation-active a::after {
        display: none;
    }
}

/* HEADER GLOBAL -- ANIMACIÓN NAVEGACIÓN -- ANIMACIÓN BOTÓN*/

.header__nav__list-item a::after {
    content: '';
    position: absolute;
    margin: auto;

    bottom: 0;
    left: 0;
    right: 0;

    width: 0;
    height: 3px;
    border-radius: 0 0 10px 10px;

    background-color: #000; 

    transition: width .3s;
}

.header__nav__list-item:hover a::after {
    width: 100%;
}

.header__nav__list-item .active::after {
    width: 100%;
}

.header__button::after {
    content: "";
    z-index: -1;
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 30%;

    background-color: #000;

    position: absolute;
    bottom: -200px;
    left: -150px;

    transition: all .3s linear;
}

.header__button:hover::after {
    bottom: -10px;
    left: -50px;
}

.header__button:hover {
    color: #fff;
}

/* MAIN GLOBAL HEADER */

.main-global-header {
    width: 100vw;
    height: 300px;
    position: relative;
    overflow: hidden; 
    padding: 0 10%;

    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-global-header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block; 

    position: absolute;
}

.main-global-header::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(40deg, #000 0%, #0007 50%, #000 100%);
}

.main-global-header h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;

    z-index: 10;
}

/* Global Grupos */

.global-grupos {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    height: 500px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.global-grupos h4 {
    color: #0008;
    text-align: center;
    position: relative;
}

.global-grupos h2 {
    text-align: center;
}

.global-grupos__nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    height: 470px;
    width: 100%;
}

.global-grupos__nav-item {
    flex-grow: 1;
    padding: 30px;
    height: 470px;
    max-width: 150px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    gap: 30px;

    border: 1px solid #0002;
    position: relative;

    justify-content: space-between;
    align-items: center;

    transition: all .5s;
} 

.global-grupos__nav-item div {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.global-grupos__nav-item button {
    padding: 10px 12px;
    width: fit-content;
    border-radius: 100px;
    border: 1px solid #000a;
    background-color: #fff;

    transition: background-color .2s;
}

.global-grupos__nav-item button:hover {
    background-color: #000;
}

.global-grupos__nav-item button:hover svg path {
    stroke: #fff;
}

.global-grupos__nav-item button svg {
    width: 30px;
    stroke: #000;

    transition: stroke .3s;
}

.global-grupos__nav-item ul,
.global-grupos__nav-item__mas-informacion {
    display: none;
}

.global-grupos__nav-item ul svg {
    width: 20px;
    height: 20px;
}

.global-grupos__nav-item a {
    display: none;
}

.global-grupos__nav-item h6 {
    font-size: 2.5rem;
    font-weight: 400;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.global-grupos__nav-item p {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.global-grupos__nav-item__mas-informacion {
    padding: 10px 12px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    font-size: .8rem;

    position: absolute;
    bottom: 30px;

    transition: background-color .3s;
}

.global-grupos__nav-item__mas-informacion svg {
    width: 15px;
    height: 15px;
}

.global-grupos__nav-item--active {
    flex-grow: 5;
    background-color: var(--yellow);
    border: none;
    max-width: 100%;

    justify-content: start;
    align-items: start;

    writing-mode: horizontal-tb;
}

.global-grupos__nav-item--active div {
    flex-direction: column;
    gap: 5px;
}

.global-grupos__nav-item--active button {
    transform: rotate(90deg);
    background-color: #000;

    
    position: absolute;
    right: 30px;
}

.global-grupos__nav-item--active button svg {
    stroke: #fff;
}

.global-grupos__nav-item--active h6 {
    font-weight: 500;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active p {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.global-grupos__nav-item--active ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.global-grupos__nav-item--active ul li p {
    font-size: 1rem;
    font-weight: 600;

    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}

.global-grupos__nav-item--active a {
    display: flex;
}

.global-grupos__nav-item--active a:hover {
    background-color: #000;
    color: #fff;
}

.global-grupos__nav-item--active a:hover svg path{
    stroke: #fff;
}

/* Global Grupos -- MEDIA QUERIES */

@media screen and (max-width: 1153px) {
    .global-grupos h2 {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .global-grupos {
        height: fit-content;
    }
    
    .global-grupos__nav {
        flex-direction: column;
    }

    .global-grupos__nav-item {
        width: 100%;
        max-width: 100%;
        height: fit-content;
        flex-direction: row-reverse;
    }

    .global-grupos__nav-item button {
        position: initial;
    }

    .global-grupos__nav-item--active a {
        position: initial;
    }

    .global-grupos__nav-item h6 {
        font-size: 1.5rem;
    }

    .global-grupos__nav-item h6, .global-grupos__nav-item p {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

    .global-grupos__nav-item div {
        flex-direction: column;
    }

    .global-grupos__nav-item--active {
        justify-content: initial;
        flex-direction: column;
    }

    .global-grupos__nav-item--active button {
        position: absolute;
    }
}

@media screen and (max-width: 500px) {
    .global-grupos__nav-item--active ul li p {
        font-size: .8rem;
    }
}

@media screen and (max-width: 380px) {
    .global-grupos__nav-item--active button {
        display: none;
    }

    .global-grupos {
        margin-bottom: 250px;
    }
}


/* Contact */

.global-contacto {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 150px;

    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.global-contacto div {   
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.global-contacto div h4 {
    color: #0008;
    font-weight: 600;
}

.global-contacto div h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

.global-contacto div form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}   

.global-contacto div form label {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 45px;
    padding: 0 12px;
    border: 1px solid #0003;
    border-radius: 100px;
}

.global-contacto div form label:active {
    border-color: #000;
}

.global-contacto div form label svg {
    height: 20px;
    width: 20px;
}

.global-contacto div form label svg path {
    stroke: #000;
    fill: #000;
}

.global-contacto div form label input {
    border: none;
    width: 100%;
}

.global-contacto div form label input:focus {
    outline: none;
}

textarea {
    resize: none;
}

.global-contacto div form textarea {
    padding: 15px;
    width: 100%;
    height: 160px;
    font-family: 'Epilogue';
    border: 1px solid #0003;
    border-radius: 23px;
}

.global-contacto div form textarea:focus {
    outline: none;
}

.global-contacto div form textarea:active {
    border-color: #000;
}

.global-contacto div form button[type="submit"] {
    width: 180px;
    height: 35px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

    transition: background-color .2s, color .2s;
}

.global-contacto div form button[type="submit"]:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-weight: 500;
}

.global-contacto__submit-svg {
    width: 15px;
    height: 15px;
}

.global-contacto div form button[type="submit"]:hover svg path{
    stroke: #000;
}

.global-contacto iframe {
    width: 100%;
    height: auto;
    border: none;
}

/* Contact -- MEDIA QUERIES */

@media screen and (max-width: 1000px) {
    .global-contacto {
        flex-direction: column;
        text-align: center;
        margin-top: 350px;
    }

    .global-contacto div form button[type="submit"] {
        width: 100%;
    }

    .global-contacto iframe {
        width: 100%;
        height: 300px;
    }

    .global-contacto {
        gap: 40px;
    }
}

@media screen and (max-width: 500px) {
    .global-contacto {
        margin-top: 400px;
    }
}

/* FOOTER GLOBAL */

.footer {
    min-height: 325px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-radius: 50px 50px 0 0;
    padding: 75px 12% 50px 12%;
    font-size: .8rem;
    font-weight: 400;
    margin-top: 100px;
}

footer a {
    font-size: inherit;
}

footer p {
    font-size: inherit;
    color: #fffa;
}

.footer__content {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 120px; 
    grid-template-areas: 
        "footer-logo footer-nav footer-institutions footer-contact footer-social"
        "footer-legal footer-legal footer-legal footer-legal footer-legal"; 
}

.footer__section-title {
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.--footer-logo {
    grid-area: footer-logo;
    padding-right: 25px;
    margin: auto;
    width: 220px;
}

.--footer-nav {
    grid-area: footer-nav;
    padding: 0 25px;
    border-left: 1px solid #222;
}

.--footer-nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.--footer-nav__list a{
    color: #fffa;
    text-decoration: none;
    border-bottom: 1px solid #222;
}

.--footer-institutions {
    grid-area: footer-institutions;
    padding: 0 25px;
    border-left: 1px solid #222;

    & p {
        font-size: .8rem;
        line-height: 15px;
        text-align: center;
    }
}

.--footer-institutions__content {
    display: flex;
    justify-content: center;
}

.--footer-institutions__ajuntamiento {
    display: flex;
    flex-direction: column; 
    gap: 10px;

    width: 100px;
}

.--footer-institutions__ajuntamiento img {
    width: 20px;
    margin: auto;
}

.--footer-institutions__consell {
    display: flex;
    flex-direction: column; 
    gap: 10px;

    width: 100px;
}

.--footer-institutions__consell img {
    width: 25px;
    margin: auto;
}

.--footer-contact {
    grid-area: footer-contact;
    padding: 0 25px;
    border-left: 1px solid #222;

    display: flex;
    flex-direction: column;

    & path {
        fill: #fffa;
    }
}

.--footer-contact span {
    display: flex;
    align-items: center;
    gap: 5px;

    height: 25px;
}

.--footer-social {
    grid-area: footer-social;
    padding-left: 25px;
    border-left: 1px solid #222;

    & h6 {
        text-align: center;
    }
}

.--footer-social__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.--footer-social__icons a svg {
    height: 20px;
    width: 20px;

    transition: transform .2s;
}

.--footer-social__icons a svg:hover {
    transform: scale(1.05);
}

.--footer-legal {
    grid-area: footer-legal;
    margin-top: 50px;
    border-top: 1px solid #222;

    display: flex;
    justify-content: space-between;
    align-items: center;    
} 

.--footer-legal div {
    display: flex;
    gap: 30px;
}

.--footer-legal div a {
    color: #fffa;
    text-decoration: none;
}

.--footer-legal__made-by {
    padding: 5px 10px;
    border: 1px solid #fff4;
    width: 210px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    color: #fffa;
}

.--footer-legal__heart{
    color: var(--yellow);
    width: 10px;
    height: 10px;

    animation: heartbeat 1s ease-in-out infinite;
}

@keyframes heartbeat {
    0%, 100% {
      transform: scale(2);
    }
    50% {
      transform: scale(3);
    }
}

/* FOOTER GLOBAL -- MEDIA QUERIES*/

@media screen and (max-width: 1200px) {
    .--footer-logo {
        width: 150px;
    }
}

@media screen and (max-width: 1020px) {
    .footer__content {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6, auto); 
        grid-template-areas: 
            "footer-logo"
            "footer-nav"
            "footer-institutions"
            "footer-contact"
            "footer-social"
            "footer-legal";
        gap: 20px;
    }

    .--footer-nav, 
    .--footer-institutions, 
    .--footer-contact, 
    .--footer-social,
    .--footer-logo {
        border-left: none;
        border-bottom: 1px solid #111;
        padding: 0;
        padding-bottom: 20px;
    }

    .footer__content > * {
        text-align: center;
    }

    .--footer-legal {
        flex-direction: column;
        gap: 20px;
        margin: 0;
        border: 0;

        & div {
            flex-direction: column;
            gap: 12px
        }
    }
}