* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER GLOBAL */

.header {
    padding: 0 12%;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #bbb;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.header__logo {
    width: 150px;
}

.header__nav {
    flex-grow: 1;
}

.header__nav__list {
    list-style: none;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.header__nav__list-item a{
    text-decoration: none;
    color: #000;
}

.header__button {
    text-decoration: none;
    color: #000;
    width: 120px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}