/* Equipamiento - Header */

.equipamiento-header {
    width: 100vw;
    height: 250px;
    position: relative;
    overflow: hidden; 
    padding: 0 10%;

    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipamiento-header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block; 

    position: absolute;
}

.equipamiento-header::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: linear-gradient(40deg, #000 0%, #0007 50%, #000 100%);
}

.equipamiento-header h1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;

    z-index: 10;
}

/* Equipamiento Header -- MEDIA QUERIES */

@media screen and (max-width: 800px) {
    .equipamiento-header {
        height: 140px;
    }
}

@media screen and (max-width: 545px) {
    .equipamiento-header {
        height: 200px;
    }
}

/* Equipamiento Content */

.equipamiento-content {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
}

.equipamiento-content h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.equipamiento-content__productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
}

.equipamiento-content__productos a {
    min-width: 250px;
    max-width: 300px;
    width: calc(25% - 15px);
    height: 400px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;

    text-decoration: none;
    color: #000;

    transition: transform .2s;
}

.equipamiento-content__productos a img {
    width: 100%;
    height: 70%;
    margin: auto;
    background-color: #0002;
}

.equipamiento-content__productos a h6 {
    font-size: .9rem;
    margin-top: -45px;
    font-weight: 500;
}

.equipamiento-content__productos a p {
    font-size: 1.3rem;
    font-weight: 600;
}

.equipamiento-content__comprar {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: .8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transition: transform .2s;
}

.equipamiento-content a:hover {
    transform: scale(1.05);
}


/* Contacto */

.global-contacto {
    background-color: #fff;
    width: 80%;
    margin: auto;
    max-width: 1200px;
    margin-top: 100px;
    border-radius: 50px 50px 0 0;
}

.global-contacto__content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.global-contacto__content div{   
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.global-contacto__content div h4 {
    color: #0008;
}

.global-contacto__content div form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}   

.global-contacto__content div form label {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 45px;
    padding: 0 12px;
    border: 1px solid #0003;
    border-radius: 100px;
}

.global-contacto__content div form label svg {
    height: 20px;
    width: 20px;
}

.global-contacto__content div form label input {
    border: none;
    width: 100%;
}

.global-contacto__content div form label input:focus {
    outline: none;
}

textarea {
    resize: none;
}

.global-contacto__content div form textarea {
    padding: 15px;
    width: 100%;
    height: 100px;
    font-family: 'Epilogue';
    border: 1px solid #0003;
    border-radius: 23px;
}

.global-contacto__content div form textarea:focus {
    outline: none;
}

.global-contacto__content div form input[type="submit"] {
    width: 180px;
    height: 35px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 100px;

    transition: background-color .2s, color .2s;
}

.global-contacto__content div form input[type="submit"]:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    font-weight: 500;
}

.global-contacto__content img {
    object-fit: cover;
    width: 45%;
    height: auto;
}

/* Contacto -- MEDIA QUERIES */

@media screen and (max-width: 1000px) {
    .global-contacto__content {
        flex-direction: column;
        text-align: center;
    }

    .global-contacto__content div form input[type="submit"] {
        width: 100%;
    }

    .global-contacto__content img {
        width: 100%;
        height: 100px;
    }

    .global-contacto__content {
        gap: 40px;
    }
}